table,
th,
td {
  border: 1px solid black;
}

th {
  text-align: center;
}

#fname {
  border-color: whitesmoke;
}

select {
  width: 50%;
}

textarea {
  margin-top: 5px;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

.select {
  padding: 5px;
}
